{% extends "base.html" %}
{% block title %} {% endblock title %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/thread.css' %}">
{% endblock css %}

{% block header %}
<a href="{% url 'lecture:lecture' post.course.pk %}"> &lt; {{ post.course.name }} 講義ページへ戻る</a>
{% endblock header %}

{% block content %}
<h1>{{ post.title }}</h1>
<ul class="thread">
    <img src="{{post.user.icon.url}}" alt="{{post.user.icon}}" class="user-icon">
    <div class="text-content">
        <div class="user-info">
            <p class="username">{{ post.user.username }}</p>
            <p class="post-date">{{ post.created_at }}</p>
        </div>
        <p class="post-content">{{ post.content }}</p>
    </div>
</ul>


{% for comment in comments %}
<ul class="thread">
    <img src="{{comment.user.icon.url}}" alt="{{comment.user.icon}}" class="user-icon">
    <div class="text-content">
        <div class="user-info">
            <p class="username">{{ comment.user.username }}</p>
            <p class="post-date">{{ comment.created_at }}</p>
        </div>
        <p class="post-content">{{ comment.content }}</p>
    </div>
</ul>
{% endfor %}

<script>
    // ページが読み込まれたときに一番下にスクロールする
    window.onload = function() {
        var commentList = document.getElementsByClassName('thread');
        if (commentList.length > 0) {
            commentList[commentList.length - 1].scrollIntoView();
        }
    };
</script>

{% endblock content %}
{% block footer %}
<footer>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">送信</button>
    </form>
</footer>
{% endblock footer %}