{% extends "base.html" %}
{% block title %} {% endblock title %}

{% block content %}
<h1>{{ post.title }}</h1>
<ul class="thread">
    <img src="{{post.user.icon.url}}" alt="{{post.user.icon}}" class="user-icon">
    <div class="text-content">
        <div class="user-info">
            <p class="username">{{ post.user.username }}</p>
            <p class="post-date">{{ post.created_at }}</p>
        </div>
        <p class="post-content">{{ post.content }}</p>
    </div>
</ul>


{% for comment in comments %}
<ul class="thread">
    <img src="{{comment.user.icon.url}}" alt="{{comment.user.icon}}" class="user-icon">
    <div class="text-content">
        <div class="user-info">
            <p class="username">{{ comment.user.username }}</p>
            <p class="post-date">{{ comment.created_at }}</p>
        </div>
        <p class="post-content">{{ comment.content }}</p>
    </div>
</ul>

{% endfor %}

{% endblock content %}