{% extends "base.html" %}
{% block title %}プロフィール{% endblock title %}

{% load static %}


{% block content %}
<p><img class="user-icon" src="{{user.icon.url}}" alt="{{user.icon}}" style="height: 50px; width: 50px;"></p>
<p>{{user.username}}</p>
<p>{{user.email}}</p>

<a href="{% url 'accounts:edit' %}">プロフィール編集</a><br>
<form id="logout-form" action="{% url 'accounts:logout' %}" method="post" style="display: none;">
    {% csrf_token %}
</form>
<a href="#" onclick="document.getElementById('logout-form').submit();">ログアウト</a>


{% endblock content %}