{% extends "base.html" %}
{% block title %}プロフィール{% endblock title %}

{% load static %}


{% block content %}
{% if user.icon and user.icon.url %}
<p><img src="{{user.icon.url}}" alt="{{user.icon}}" style="height: 50px; width: 50px;"></p>
{% else %}
<p><img src="{% static 'images/default_icon.png' %}" alt="デフォルトアイコン" style="height: 50px; width: 50px;"></p>
{% endif %}
<p>{{user.username}}</p>
<form id="logout-form" action="{% url 'accounts:logout' %}" method="post" style="display: none;">
    {% csrf_token %}
</form>
<a href="#" onclick="document.getElementById('logout-form').submit();">ログアウト</a>


{% endblock content %}