{% extends "base.html" %}
{% block title %}Home{% endblock title %}


{% block content %}

<p>{{user.username}}さん、こんにちは</p>
<p><img src="{{user.icon.url}}" alt="{{user.icon}}" style="height: 50px; width: 50px;"></p>

<h1>課題一覧</h1>
<ul>
    <!--
    class Assignment(models.Model):
        assignment_id
        title
        description
        deadline
        course
    -->
    {% for assignment in user_assignments %}
        <p>{{assignment.assignment.title}}</p>
        <p>{{assignment.assignment.description}}</p>
        <p>{{assignment.assignment.deadline}}</p>
    {% empty %}
        <p>課題はありません</p>
    {% endfor %}
</ul>
<h1>登録中の講義</h1>
<ul>
    <!--
    class Course(models.Model):
        term
        code
        name
        teacher
        lecture_schedule
    -->
    {% for course in courses %}
        <p>{{course.code}}</p>
        <p>{{course.name}}</p>
        <p>{{course.teacher}}</p>
    {% empty %}
        <p>講義はありません</p>
    {% endfor %}


{% endblock content %}