{% extends "base.html" %}
{% block title %}Home{% endblock title %}

{% load static %}
{% block content %}

<main>
    <!--課題一覧-->
    <section>
    <h2 class="top"><i class="fa-solid fa-list-check"></i> 課題一覧</h1>
    <table class="assignment-table">
        <thead>
            <tr>
                <th class="col-title">課題名</th>
                <th class="col-course">科目名</th>
                <th class="col-deadline">提出期限</th>
                <th class="col-finish"></th>
            </tr>
        </thead>
        <tbody>
        {% for assignment in user_assignments %}
            {% if assignment.is_finished == 0 %}
            <tr>
                <td class="col-title">
                    <a href="{% url 'assignment:detail' assignment.assignment.pk %}">
                        {{assignment.assignment.title}}
                    </a>
                </td>
                <td class="col-course">{{assignment.assignment.course.name}}</td>
                <td class="col-deadline">{{assignment.assignment.deadline}}</td>
                <td class="col-finish">
                    <form method="post" action="">
                        {% csrf_token %}
                        <input type="hidden" name="assignment" value="{{ assignment.assignment.pk }}">
                        <input type="hidden" name="user" value="{{ user.pk }}">
                        <button name="next" value="finish" type="finish"></button>
                    </form>
            {% else %}
            {% endif %}
                </td>
            </tr>
        </a>
        {% empty %}
        {% endfor %}
        </tbody>
    </table>
    </section><br>

    <!--履修科目-->
    <section>
        <h2 class="top"><i class="fa-solid fa-book-open"></i> 履修科目一覧</h1>
        <table class="course-table">
            <thead>
                <tr>
                    <th>科目名</th>
                    <th>科目番号</th>
                    <th>担当教員</th>
                    <th>開講</th>
                    <th>講義日程</th>
                    <th>未登録の課題</th>
                </tr>
            </thead>
        {% for course in courses %}
            <tr>
                <td class="col-name">
                    <a href="{% url 'lecture:lecture' course.pk %}">
                        {{course.name}}
                    </a>
                </td>
                <td class="col-code">{{course.code}}</td>
                <td class="col-teacher">{{course.teacher}}</td>
                <td class="col-term">{{course.term}}</td>
                <td class="col-schedule">{{course.lecture_schedule}}</td>
                <td class="col-assignment">{{course.assignment_count}}</td>

            </tr>
        {% empty %}
        {% endfor %}
        </table>
    </section><br>

    <section>
        <h2 class="top"><i class="fa-regular fa-calendar-plus"></i> 講義登録</h2>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <button name="next" value="submit" class="submit-top-page" type="submit">登録</button>
        </form>
    </section>

{% if message %}
    <p>{{ message }}</p>
{% endif %}
{% if error %}
    <p>{{ error }}</p>
{% endif %}


{% endblock content %}