{% extends "base.html" %}
{% block title %}Home{% endblock title %}

{% load static %}
{% block content %}

<p>{{user.username}}さん、こんにちは</p>



<h1>課題一覧</h1>
<ul>
    {% for assignment in user_assignments %}
        <a href="{% url 'assignment:detail' pk=assignment.pk %}">{{assignment.assignment.title}}  {{assignment.assignment.description}} {{assignment.assignment.deadline}}</a><br>
    {% empty %}
        <p>課題はありません</p>
    {% endfor %}
</ul>
<h1>登録中の講義</h1>
<ul>
    {% for course in courses %}
        <a href="{% url 'lecture:lecture' course.pk %}">{{course.code}} {{course.name}}</a><br>
    {% empty %}
        <p>講義はありません</p>
    {% endfor %}
</ul>

<h1>講義登録</h1>
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">登録</button>
</form>

{% if message %}
    <p>{{ message }}</p>
{% endif %}
{% if error %}
    <p>{{ error }}</p>
{% endif %}


{% endblock content %}