.form-horizontal {
    display: flex;
    align-items: center; /* 垂直方向の中央揃え */
    justify-content: center; /* 要素を中央に配置 */
    width: 100%; /* フォーム全体の幅を100%に設定 */
}

.form-group {
    display: flex;
    align-items: center; /* 垂直方向の中央揃え */
    justify-content: center; /* 要素を中央に配置 */
    width: 100%; /* グループ全体の幅を100%に設定 */
}

.form-input {
    margin-left: 5px; /* アイコンとフォームの間にスペースを追加 */
}

.submit-top-page {
    margin-left: 10px; /* フォームとボタンの間にスペースを追加 */
}

input[type=text], input[type=datetime-local], input[type=password] {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}