{% extends "base.html" %}
{% block title %}新規課題{% endblock title %}

{% block content %}

<h1>{{ course.name }} - 課題の追加</h1>


<section>
    <form method="post">
    {% csrf_token %}
    <input type="hidden" name="course" value="{{ course.pk }}">
    <div class="column">
        <label for="assignment_name">課題名</label><br>
        {{ form.title }}
    </div>
    <div class="column">
        <label for="description">課題内容</label><br>
        {{ form.description }}
    </div>
    <div class="column">
        <label for="submit_date">提出期限</label><br>
        {{ form.deadline }}
    </div>
    <div class="column">
        <input type="submit" value="追加+">
    </div>
    </form>
</section>
{% endblock content %}
