{% extends "base.html" %}
{% block title %}新規課題{% endblock title %}

{% block content %}

{% if course.name %}
    <h1>{{ course.name }} - 課題の追加</h1>
{% else %}
    <h1>課題の編集</h1>
{% endif %}


<section>
    <form method="post">
    {% csrf_token %}
    {% if course.name %}
        <input type="hidden" name="course" value="{{ course.pk }}">
    {% else %}
        <input type="hidden" name="course" value="{{ assignment.course.pk }}">
    {% endif %}
    <div class="column">
        <label for="assignment_name">課題名</label><br>
        {{ form.title }}
    </div>
    <div class="column">
        <label for="description">課題内容</label><br>
        {{ form.description }}
    </div>
    <div class="column">
        <label for="submit_date">提出期限</label><br>
        {{ form.deadline }}
    </div>
    <div class="column">
        {% if course.name %}
            <input type="submit" value="追加+">
        {% else %}
            <input type="submit" value="編集+">
        {% endif %}

    </div>
    </form>
</section>
{% endblock content %}
