{% extends "base.html" %}

{% block title %}講義 -{{ course.name }}{% endblock title %}

{% block content %}

<main>
    <!--課題表示-->
    <section>
        <nav class="container3">
            <div>{{ course.name }}</div>
            <div>{{ course.code }}</div>
            <div>{{ course.teacher }}</div>
            <div>{{ course.lecture_schedule }}</div>
        </nav>
    </section><br>
    <section>
            <section>
                <h2 class="top"><i class="fa-solid fa-list-check"></i> 課題一覧</h1>
                <button class="button" onclick="location.href='{% url 'assignment:create' course.code %}'" target="_blank">新規作成</button>
                <table class="assignment-table">
                    <thead>
                        <tr>
                            <th>課題名</th>
                            <th>提出期限</th>
                            <th>自分の課題として登録</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for assignment in assignments %}
                        <tr>
                            <td class="col-title">
                                <a href="{% url 'assignment:detail' assignment.pk %}">
                                    {{assignment.title}}
                                </a>
                            </td>
                            <td class="col-deadline">{{assignment.deadline}}</td>
                            <td class="col-register">
                                {% if assignment in user_assignments %}
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="assignment" value="{{ assignment.pk }}">
                                    <input type="hidden" name="user" value="{{ user.pk }}">
                                    <button name="next" value="finish" class="mark1" type="submit">登録済み</button>
                                </form>
                                {% else %}
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="assignment" value="{{ assignment.pk }}">
                                    <input type="hidden" name="user" value="{{ user.pk }}">
                                    <button name="next" value="finish" class="mark2" type="submit">未登録</button>
                                </form>
                                {% endif %}
                        </tr>
                    </a>
                    {% empty %}
                    {% endfor %}
                    </tbody>
                </table>
                </section><br>
    </section>
    </main>

<section>
    <section>
        <h1><i class="fa-solid fa-pen-to-square"></i>スレッド一覧</h1>
        <button class="button" onclick="location.href='{% url 'thread:create' course.code %}'" target="_blank">新規作成</button>
        <table class="thread-table">
            <thead>
                <tr>
                    <th>作成者</th>
                    <th>タイトル</th>
                    <th>最終更新日</th>
                </tr>
            </thead>
            <tbody>
            {% for thread in threads %}
                <tr>
                    <td class="col-creator">{{thread.user.username}}</td>
                    <td class="col-title">
                        <a href="{% url 'thread:thread' thread.pk %}">
                            {{thread.title}}
                        </a>
                    </td>
                    <td class="col-last_updated">{{thread.last_update}}</td>
                </tr>
            </a>
            {% empty %}
            {% endfor %}
            </tbody>
        </table>
</section>
<h1></h1>
<section>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="course" value="{{ course.pk }}">
        <input type="hidden" name="user" value="{{ user.pk }}">
        <button name="next" value="del" class="delbutton">講義の登録を解除</button>
    </form>
</section>


{% endblock content %}