{% extends "base.html" %}

{% block title %}講義 -{{ course.name }}{% endblock title %}

{% block content %}

<h1>{{ course.code }}</h1>
<h2>{{ course.name }}</h2>
<p>{{ course.term }}</p>
<p>{{ course.teacher }}</p>
<p>{{ course.lecture_schedule }}</p>


<div class="assignment">
    <h1>課題一覧</h1>
    <a href="{% url 'assignment:create' course.code %}">課題登録</a>
</div>

<ul>
    {% for assignment in assignments %}
        <a href="{% url 'assignment:detail' assignment.pk %}">{{assignment.title}}  {{assignment.description}} {{assignment.deadline}}</a><br>
    {% empty %}
        <p>課題はありません</p>
    {% endfor %}
</ul>
<h1>スレッド一覧</h1>
<ul>
    {% for thread in threads %}
        <a href="{% url 'thread:thread' thread.pk %}">{{thread.title}}</a><br>
    {% empty %}
        <p>スレッドはありません</p>
    {% endfor %}

{% endblock content %}