<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo | {% block title %}{%endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
    <a href="{% url 'base:home' %}">ToDo</a>
    {% if user.icon and user.icon.url %}
        <a class=HeaderIcon href="{% url 'accounts:profile' %}"><img src="{{user.icon.url}}" alt="{{user.icon}}" style="height: 50px; width: 50px;"></a>
    {% else %}
        <a class=HeaderIcon href="{% url 'accounts:profile' %}"><img src="{% static 'images/default_icon.png' %}" alt="デフォルトアイコン" style="height: 50px; width: 50px;"></a>
    {% endif %}
    </header>
    <div class="content">
    {% block content %}{% endblock content%}
    </div>
    {% block footer %}{% endblock footer %}
</body>
</html>